version: "3.9"
services:
  api:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    restart: always

  web:
    build:
      context: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - api
    restart: always
